/* VARIABLES */
:root{
    --amarillo: #f9c808;
    --negro: #000;
    --gris: #2d2d2d;
    --rojo: #ff4500;
    --verde: #28a745;
}

/* ESTILOS GENERALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    outline: none;
}

body{
    background-image: url('https://i.imgur.com/TeR55jc.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
}

/* LOGIN */
.contenedor_login{
    width: 300px;
    height: 60vh;
    position: absolute;
    top: 10vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

form{
    position: relative;
}
/* logo */
.contenedor_logo{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    max-width: 90%;
    max-height: 100%;
}

/* Campos */
.login{
    width: 100%;
    height: 30%;
}

.contenedor_campo{
    width: 85%;
    height: 40px;
    margin: auto;
    margin-bottom: 20px;
}

.contenedor_campo .icono{
    background-color: transparent;
    color: #fff;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top: 2px solid var(--amarillo);
    border-right: 2px solid var(--amarillo); */
    border-bottom: 2px solid var(--amarillo);
    float: left;
    cursor: pointer;
}

.campo{
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    width: 90%;
    height: 100%;
    padding-left: 8px;
    border: none;
    /* border-top: 2px solid var(--amarillo);
    border-left: 2px solid var(--amarillo); */
    border-bottom: 2px solid var(--amarillo);
    -webkit-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
    float: left;
}

.btn_ingresar{
    background-color: var(--amarillo);
    color: var(--negro);
    font-size: 18px;
    font-weight: 600;
    width: 85%;
    height: 40px;
    position: absolute;
    top: 25vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: none;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
}

@media(max-width: 810px){
    .contenedor_login{
        width: 90%;
    }
}